---
version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "daily"
    labels:
      - automation
    open-pull-requests-limit: 10
    groups:
      elastic-apm:
        patterns:
          - "go.elastic.co/apm/*"
  - package-ecosystem: "gomod"
    directory: "/cmd/distribution"
    schedule:
      interval: "daily"
    labels:
      - automation
    open-pull-requests-limit: 10
